.headerName {
	font-weight: bold;
}

.headerName > h1 {
	font-weight: bold;
	font-size: 60px;
}

.headerName > span{
	font-weight: bold;
	font-size: 30px;
}

p {
  margin: 0;
}

/* searchSection */
.searchSection {
  width: 100%;
  height: 80px;
  background-color: rgb(61, 61, 61);
  text-align: center;
  line-height: 75px;
}

.dropdown {
  display: inline-block;
}